// SASS File - general style settings

body {
    > .edgy {
        position: fixed;
        z-index: 1110;
    }
}

.edgy {
    position: absolute;
    z-index: 1090;

    > nav {
        position: absolute;
        overflow: hidden;

        background: #fff;
        padding: 0.75rem;
        transition: box-shadow .5s ease;
    }
    &-left > nav,
    &-right > nav {
        width: 250px;
        height: 100%;
    }
    &-top > nav,
    &-bottom > nav {
        height: 150px;
        width: 100%;
    }
    &:not(.edgy-swipe) {
        transition: transform .5s ease;
    }

    // POSITION OF EDGY
    &-left {
        top: 0;
        bottom: 0;
        left: 0;

        &.edgy-swipe {
            width: 100% !important;
        }

        > nav {
            right: 100%;
            top: 0;
            bottom: 0;
        }
    }
    &-right {
        top: 0;
        bottom: 0;
        right: 0;

        &.edgy-swipe {
            width: 100% !important;
        }

        > nav {
            left: 100%;
            top: 0;
            bottom: 0;
        }
    }
    &-top {
        top: 0;
        left: 0;
        right: 0;

        &.edgy-swipe {
            height: 100% !important;
        }

        > nav {
            bottom: 100%;
            left: 0;
            right: 0;
        }
    }
    &-bottom {
        bottom: 0;
        left: 0;
        right: 0;

        &.edgy-swipe {
            height: 100% !important;
        }

        > nav {
            top: 100%;
            left: 0;
            right: 0;
        }
    }
}