// SASS File - variable declaration

$light: #efefef;
$dark: #363636;

$animation-speed: .5s;

$shadow-color: $dark;

$btn-animation-time: $animation-speed;
$btn-dark-color: $dark;
$btn-light-color: $light;