.bg-mainly{
    background-color: #101f23;
}
.edgy-example-box{
    position: relative;
    height: 350px;
    overflow: hidden;

    &-content{
        height: 100%;
        overflow-y: auto;
    }
}