.bg-mainly{
    background-color: #101f23;
}
.bg-primary {
    background-color: #31a3dd !important;
    background: linear-gradient(135deg, lighten(#31a3dd, 5%) 0%, darken(#31a3dd, 15%) 100%);
}
body {
    background-color: #eeeeed;
}
.edgy-example-box{
    position: relative;
    height: 350px;
    overflow: hidden;

    &-content{
        height: 100%;
        overflow-y: auto;
    }
}